# Ignore mac hidden file
.DS_Store
# Ignore quilt cache directory
.pc/
#Ignore autoconf, automake and make results
*.o
.powlock
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
conf/Makefile
conf/Makefile.in
config.log
config.status
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/missing
config/test-driver
configure
doc/Makefile
doc/Makefile.in
doc/owampd.man
doc/owamp-server.conf.man
doc/owamp-server.limits.man
doc/owfetch.man
doc/owping.man
doc/owstats.man
doc/owup.man
doc/twampd.man
doc/twamp-server.conf.man
doc/twamp-server.limits.man
doc/twping.man
owamp.spec
owamp/.deps/
owamp/Makefile
owamp/Makefile.in
owamp/config.h
owamp/config.h.in
owamp/libowamp.a
owamp/stamp-h.in
owamp/stamp-h1
owampd/.deps/
owampd/Makefile
owampd/Makefile.in
owampd/owampd
owampd/twampd
owping/.deps/
owping/Makefile
owping/Makefile.in
owping/owfetch
owping/owping
owping/owstats
owping/owup
owping/twping
powstream/.deps/
powstream/Makefile
powstream/Makefile.in
powstream/powstream
test/.deps/
test/Makefile
test/Makefile.in
test/owtvec
test/*.log
test/*.trs
test/hmac
test/owe2e_auth
test/owe2e_clear
test/owe2e_enc
test/owping_clear
test/owping_enc
test/owstats
test/twe2e_auth
test/twe2e_clear
test/twe2e_enc
test/twping_clear
test/twping_enc
