# Ignore mac hidden file
.DS_Store
# Ignore quilt cache directory
.pc/
# Ignore unibuild files 
unibuild-log
unibuild-work/
unibuild-repo/
#Ignore autoconf, automake and make results
*.o
.powlock
owamp/owamp/Makefile
owamp/owamp/Makefile.in
owamp/owamp/aclocal.m4
owamp/owamp/autom4te.cache/
owamp/owamp/conf/Makefile
owamp/owamp/conf/Makefile.in
owamp/owamp/config.log
owamp/owamp/config.status
owamp/owamp/config/compile
owamp/owamp/config/config.guess
owamp/owamp/config/config.sub
owamp/owamp/config/depcomp
owamp/owamp/config/install-sh
owamp/owamp/config/missing
owamp/owamp/config/test-driver
owamp/owamp/configure
owamp/owamp/doc/Makefile
owamp/owamp/doc/Makefile.in
owamp/owamp/doc/owampd.man
owamp/owamp/doc/owamp-server.conf.man
owamp/owamp/doc/owamp-server.limits.man
owamp/owamp/doc/owfetch.man
owamp/owamp/doc/owping.man
owamp/owamp/doc/owstats.man
owamp/owamp/doc/owup.man
owamp/owamp/doc/twampd.man
owamp/owamp/doc/twamp-server.conf.man
owamp/owamp/doc/twamp-server.limits.man
owamp/owamp/doc/twping.man
owamp/owamp/owamp.spec
owamp/owamp/owamp/.deps/
owamp/owamp/owamp/Makefile
owamp/owamp/owamp/Makefile.in
owamp/owamp/owamp/config.h
owamp/owamp/owamp/config.h.in
owamp/owamp/owamp/libowamp.a
owamp/owamp/owamp/stamp-h.in
owamp/owamp/owamp/stamp-h1
owamp/owamp/owampd/.deps/
owamp/owamp/owampd/Makefile
owamp/owamp/owampd/Makefile.in
owamp/owamp/owampd/owampd
owamp/owamp/owampd/twampd
owamp/owamp/owping/.deps/
owamp/owamp/owping/Makefile
owamp/owamp/owping/Makefile.in
owamp/owamp/owping/owfetch
owamp/owamp/owping/owping
owamp/owamp/owping/owstats
owamp/owamp/owping/owup
owamp/owamp/owping/twping
owamp/owamp/powstream/.deps/
owamp/owamp/powstream/Makefile
owamp/owamp/powstream/Makefile.in
owamp/owamp/powstream/powstream
owamp/owamp/test/.deps/
owamp/owamp/test/Makefile
owamp/owamp/test/Makefile.in
owamp/owamp/test/owtvec
owamp/owamp/test/*.log
owamp/owamp/test/*.trs
owamp/owamp/test/hmac
owamp/owamp/test/owe2e_auth
owamp/owamp/test/owe2e_clear
owamp/owamp/test/owe2e_enc
owamp/owamp/test/owping_clear
owamp/owamp/test/owping_enc
owamp/owamp/test/owstats
owamp/owamp/test/twe2e_auth
owamp/owamp/test/twe2e_clear
owamp/owamp/test/twe2e_enc
owamp/owamp/test/twping_clear
owamp/owamp/test/twping_enc
owamp/owamp/selinux/Makefile
owamp/owamp/selinux/Makefile.in
