Source: owamp
Section: net
Priority: optional
Maintainer: perfSONAR developers <debian@perfsonar.net>
Uploaders: Antoine Delvaux <antoine.delvaux@man.poznan.pl>,
 Valentin Vidic <Valentin.Vidic@CARNet.hr>
Build-Depends: debhelper (>= 9), dh-apparmor, dh-autoreconf, dh-exec, libi2util-dev (>= 1.4),
 libcap-dev, libssl-dev
Standards-Version: 3.9.8
Homepage: http://software.internet2.edu/owamp/
Vcs-Git: https://github.com/perfsonar/owamp
Vcs-Browser: https://github.com/perfsonar/owamp

Package: owamp-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcap2-bin
Description: OWAMP command line client utilities
 OWAMP is a client/server package that allows one to measure the
 latency between hosts. Unlike ping, which can only measure the
 bidirectional delay, OWAMP enables you to measure the unidirectional
 delay between two hosts.  It is an implementation of the One-Way Active
 Measurement Protocol as defined by RFC4656.
 .
 This package contains command line client utilities for performing
 measurements with an owamp server.

Package: owamp-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, lsb-base,
 ntp | time-daemon,
Description: OWAMP daemon
 OWAMP is a client/server package that allows one to measure the
 latency between hosts. Unlike ping, which can only measure the
 bidirectional delay, OWAMP enables you to measure the unidirectional
 delay between two hosts.  It is an implementation of the One-Way Active
 Measurement Protocol as defined by RFC4656.
 .
 This package contains the owamp server.

Package: twamp-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcap2-bin
Description: TWAMP command line client utilities
 TWAMP is a client/server package that allows one to measure the
 latency between hosts. Like ping, TWAMP enables you to measure the
 two-way or round-trip delay between two hosts.  It is an implementation
 of the Two-Way Active Measurement Protocol as defined by RFC5357.
 .
 This package contains command line client utilities for performing
 measurements with an twamp server.

Package: twamp-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, lsb-base,
 ntp | time-daemon
Description: TWAMP daemon
 TWAMP is a client/server package that allows one to measure the
 latency between hosts. Like ping, TWAMP enables you to measure the
 two-way or round-trip delay between two hosts.  It is an implementation
 of the Two-Way Active Measurement Protocol as defined by RFC5357.
 .
 This package contains the twamp server.
